{# Control buttons #}
<div class="d-flex justify-content-end border-bottom">
    {% if current_user.is_admin() or current_user == meeting.minute_taker %}
        <div class="btn-group m-2" role="group">
            <button type="button" class="btn btn-outline-primary d-flex align-items-center"
                    onclick="$('#toast-notice').toast('show')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-bell me-1" viewBox="0 0 16 16">
                    <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"></path>
                </svg>
                <text class="d-none d-md-block">寄送會議通知</text>
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center"
                    onclick="$('#toast-minute').toast('show')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-envelope-check me-1" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"></path>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"></path>
                </svg>
                <text class="d-none d-md-block">寄送會議結果</text>
            </button>
        </div>

        <div class="btn-group m-2" role="group">
            <a href="{{ url_for('edit_meeting', meeting_id=meeting.id) }}"
               type="button" class="btn btn-outline-secondary d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                    <path fill-rule="evenodd"
                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                </svg>
                <text class="d-none d-md-block">編輯</text>
            </a>
            <button type="button" class="btn btn-outline-danger d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash me-1" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                    <path fill-rule="evenodd"
                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                </svg>
                <text class="d-none d-md-block">刪除</text>
            </button>
        </div>
    {% else %}
        <div class="btn-group m-2" role="group">
            <button type="button" class="btn btn-outline-primary d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-check-lg me-1" viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                </svg>
                確認
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#modifyRequestModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-reply me-1" viewBox="0 0 16 16">
                    <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"></path>
                </svg>
                請求修改
            </button>
        </div>
    {% endif %}
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div class="toast fade hide text-white bg-primary border-0 me-2" role="alert"
             aria-live="assertive" aria-atomic="true" id="toast-notice">
            <div class="d-flex">
                <div class="toast-body">會議通知已送出</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="toast fade hide text-white bg-primary border-0 me-2" role="alert"
             aria-live="assertive" aria-atomic="true" id="toast-minute">
            <div class="d-flex">
                <div class="toast-body">會議結果已送出</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyRequestModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">會議修改請求</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="modifyRequestText" class="form-label">內文</label>
                <textarea class="form-control" id="modifyRequestText" rows="5"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <a href="#"
                   type="button" class="btn btn-primary">送出</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">刪除會議</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                警告，即將刪除會議「{{ meeting.title }}」！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <a href="{{ url_for('delete_meeting', meeting_id=meeting.id) }}"
                   type="button" class="btn btn-danger">刪除</a>
            </div>
        </div>
    </div>
</div>

{# Meeting minutes viewer #}
<div class="d-flex flex-column flex-fill overflow-auto p-3 p-lg-5">
    <h3 class="text-center fw-bolder mb-5">{{ meeting.title }}</h3>
    <p>
        {% set weekday = ['一','二','三','四','五','六','日'] %}
        時 間：民國 {{ meeting.time.date().year - 1911 }} 年
        {{ meeting.time.date().month }} 月
        {{ meeting.time.date().day }} 日（星期{{ weekday[meeting.time.date().weekday()] }}）
        {{ '%02d' % meeting.time.time().hour }} : {{ '%02d' % meeting.time.time().minute }} 整
    </p>
    <p>地 點：{{ meeting.location }}</p>
    <p>類 型：{{ meeting.type.value }}</p>
    <div class="d-flex">
        <p class="flex-shrink-0">主 席：</p>
        {% if meeting.chair %}
            <div class="d-flex flex-wrap gap-1 align-content-start">
                <a href="{{ url_for('person_page', person_id=meeting.chair_id) }}" style="background-color: #f5f5f5"
                   class="px-2 border border-secondary rounded-pill text-decoration-none text-dark">
                    {{ meeting.chair.name }}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">紀 錄：</p>
        {% if meeting.minute_taker %}
            <div class="d-flex flex-wrap gap-1 align-content-start">
                <a href="{{ url_for('person_page', person_id=meeting.minute_taker_id) }}"
                   style="background-color: #f5f5f5"
                   class="px-2 border border-secondary rounded-pill text-decoration-none text-dark">
                    {{ meeting.minute_taker.name }}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">與會人員：</p>
        <div class="d-flex flex-wrap gap-1 align-content-start mb-3">
            {% for attendee in attendees.filter_by(is_member=True) %}
                {% if attendee.is_present %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #c8e6c9"
                       class="px-2 border border-success rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                    </a>
                {% else %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #ffcdd2"
                       class="px-2 border border-danger rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">列席人員：</p>
        <div class="d-flex flex-wrap gap-1 align-content-start">
            {% for attendee in attendees.filter_by(is_member=False) %}
                {% if attendee.is_present %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #c8e6c9"
                       class="px-2 border border-success rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                    </a>
                {% else %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #ffcdd2"
                       class="px-2 border border-danger rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">主席致詞</h4>
    {{ meeting.chair_speech }}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">報告事項</h4>
    {% for announcement in meeting.announcements %}
        <div class="d-flex">
            <p class="flex-shrink-0">{{ loop.index }}.&nbsp;</p>
            <div class="mb-3">{{ announcement.content }}</div>
        </div>
    {% endfor %}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">討論事項</h4>
    {% for motion in meeting.motions %}
        <h5 class="my-3 fw-bolder">提案 {{ loop.index }}</h5>
        <div class="ps-4">
            <div class="d-flex">
                <p class="flex-shrink-0">案由：</p>
                <div class="mb-3 fw-bold">{{ motion.description }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">狀態：</p>
                <div class="mb-3">
                    {% if motion.status.value == '討論中' %}
                        <span class="badge bg-danger">{{ motion.status.value }}</span>
                    {% elif motion.status.value == '執行中' %}
                        <span class="badge bg-warning">{{ motion.status.value }}</span>
                    {% elif motion.status.value == '結案' %}
                        <span class="badge bg-success">{{ motion.status.value }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">內容：</p>
                <div class="mb-3">{{ motion.content }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">決策：</p>
                <div>{{ motion.resolution }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">執行：</p>
                <div class="mb-3">{{ motion.execution }}</div>
            </div>
        </div>
    {% endfor %}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">臨時動議</h4>
    {% for extempore in meeting.extempores %}
        <div class="d-flex">
            <p class="flex-shrink-0">{{ loop.index }}.&nbsp;</p>
            <div class="mb-3">{{ extempore.content }}</div>
        </div>
    {% endfor %}
    {# Attachment #}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">附件</h4>
    <div class="d-flex flex-wrap gap-2">
        {% for attachment in meeting.attachments %}
            <a href="{{ url_for('download', file_id=attachment.id) }}" target="_blank"
               class="text-dark text-decoration-none" title="{{ attachment.filename.split('-', 1)[1] }}">
                <div class="card bg-light">
                    <div class="card-body d-flex align-items-center">
                        {% set file_type = attachment.filename.split('.')[-1] %}
                        {% if file_type in ['jpg', 'jpeg', 'png'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/photos.png"
                                 width="24" height="24" alt="">
                        {% elif file_type == 'pdf' %}
                            <img src="https://img.icons8.com/fluency/240/000000/adobe-acrobat.png"
                                 width="24" height="24" alt="">
                        {% elif file_type == 'txt' %}
                            <img src="https://img.icons8.com/fluency/240/000000/notepad.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['ppt', 'pptx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-powerpoint-2019.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['xls', 'xlsx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-excel-2019.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['doc', 'docx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-word-2019.png"
                                 width="24" height="24" alt="">
                        {% else %}
                            <img src="https://img.icons8.com/fluency/240/000000/file.png"
                                 width="24" height="24" alt="">
                        {% endif %}
                        {% set len_of_filetype = attachment.filename.split('.')[-1]|length %}
                        {% set filename = attachment.filename.split('-', 1)[1][:-len_of_filetype-1] %}
                        {% set filename_display = filename if filename|length <= 20 else filename[:20]+'...' %}
                        <p class="ms-1 card-text">{{ filename_display }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>