{# Control buttons #}
<div id="controlZone" class="d-flex justify-content-end border-bottom">
    {% if meeting.archived %}
        <button type="button" class="btn btn-outline-primary d-flex align-items-center m-2" id="print-minute">
            <i class="bi bi-printer me-1"></i>
            <text class="d-none d-md-block">列印</text>
        </button>
        <button class="btn btn-secondary m-2" disabled>已封存</button>
    {% elif current_user.is_admin() or current_user == meeting.minute_taker %}
        <div class="btn-group m-2" role="group">
            <button type="button" class="btn btn-outline-primary d-flex align-items-center" id="send-notice">
                <i class="bi bi-bell me-1"></i>
                <text class="d-none d-md-block">寄送通知</text>
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center" id="send-minute">
                <i class="bi bi-envelope-check me-1"></i>
                <text class="d-none d-md-block">寄送結果</text>
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center" id="print-minute">
                <i class="bi bi-printer me-1"></i>
                <text class="d-none d-md-block">列印</text>
            </button>
        </div>

        <div class="btn-group m-2" role="group">
            <a href="{{ url_for('edit_meeting', meeting_id=meeting.id) }}"
               type="button" class="btn btn-outline-secondary d-flex align-items-center">
                <i class="bi bi-pencil-square me-1"></i>
                <text class="d-none d-md-block">編輯</text>
            </a>
            <button type="button" class="btn btn-outline-danger d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                <i class="bi bi-trash me-1"></i>
                <text class="d-none d-md-block">刪除</text>
            </button>
        </div>
    {% else %}
        <div class="btn-group m-2" role="group">
            <button type="button" class="btn
                {% if attendees.filter_by(person_id=current_user.id).first().is_confirmed or
                      (meeting.chair == current_user and meeting.chair_confirmed) %}
                    btn-primary{% else %}btn-outline-primary
                {% endif %}
                d-flex align-items-center" id="confirmBtn">
                <i class="bi bi-check-lg me-1"></i>
                確認
            </button>
            <button type="button" class="btn btn-outline-primary d-flex align-items-center"
                    data-bs-toggle="modal" data-bs-target="#modifyRequestModal">
                <i class="bi bi-reply me-1"></i>
                請求修改
            </button>
        </div>
    {% endif %}
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute top-0 end-0 p-3">
        <div class="toast fade hide text-white bg-primary border-0 me-2" role="alert"
             aria-live="assertive" aria-atomic="true" id="toast-notice">
            <div class="d-flex">
                <div class="toast-body">會議通知已送出</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="toast fade hide text-white bg-primary border-0 me-2" role="alert"
             aria-live="assertive" aria-atomic="true" id="toast-minute">
            <div class="d-flex">
                <div class="toast-body">會議結果已送出</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
        <div class="toast fade hide text-white bg-primary border-0 me-2" role="alert"
             aria-live="assertive" aria-atomic="true" id="toast-modify">
            <div class="d-flex">
                <div class="toast-body">修改請求已送出</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modifyRequestModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">會議修改請求</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="requestModifyForm">
                    <label for="modifyRequestText" class="form-label">內文</label>
                    <textarea class="form-control" id="modifyRequestText" rows="5" name="modifyRequestText"
                              aria-describedby="modifyRequestError" required></textarea>
                    <span class="error invalid-feedback" id="modifyRequestError">必須填寫</span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="send-modify">送出</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">刪除會議</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                警告，即將刪除會議「{{ meeting.title }}」！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <a href="{{ url_for('delete_meeting', meeting_id=meeting.id) }}"
                   type="button" class="btn btn-danger">刪除</a>
            </div>
        </div>
    </div>
</div>

{# Meeting minutes viewer #}
<div class="d-flex flex-column flex-fill overflow-auto p-3 p-lg-5" id="meeting-minutes" name="{{ meeting.id }}">
    <div class="d-none" id="current_user_id">{{ current_user.id }}</div>
    <h3 class="text-center fw-bolder mb-5">{{ meeting.title }}</h3>
    <p>
        {% set weekday = ['一','二','三','四','五','六','日'] %}
        時 間：民國 {{ meeting.time.date().year - 1911 }} 年
        {{ meeting.time.date().month }} 月
        {{ meeting.time.date().day }} 日（星期{{ weekday[meeting.time.date().weekday()] }}）
        {{ '%02d' % meeting.time.time().hour }} : {{ '%02d' % meeting.time.time().minute }} 整
    </p>
    <p>地 點：{{ meeting.location }}</p>
    <p>類 型：{{ meeting.type.value }}</p>
    <div class="d-flex">
        <p class="flex-shrink-0">主 席：</p>
        {% if meeting.chair %}
            <div class="d-flex flex-wrap gap-1 align-content-start">
                <a href="{{ url_for('person_page', person_id=meeting.chair_id) }}" style="background-color: #f5f5f5"
                   class="px-2 border border-secondary rounded-pill text-decoration-none text-dark"
                   id="person-{{ meeting.chair_id }}">
                    {{ meeting.chair.name }}
                    {% if meeting.chair_confirmed %}
                        <i class="bi bi-check mb-1"></i>
                    {% endif %}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">紀 錄：</p>
        {% if meeting.minute_taker %}
            <div class="d-flex flex-wrap gap-1 align-content-start">
                <a href="{{ url_for('person_page', person_id=meeting.minute_taker_id) }}"
                   style="background-color: #f5f5f5"
                   class="px-2 border border-secondary rounded-pill text-decoration-none text-dark">
                    {{ meeting.minute_taker.name }}
                </a>
            </div>
        {% endif %}
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">與會人員：</p>
        <div class="d-flex flex-wrap gap-1 align-content-start mb-3">
            {% for attendee in attendees.filter_by(is_member=True) %}
                {% if attendee.is_present %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #c8e6c9" id="person-{{ attendee.attendee.id }}"
                       class="px-2 border border-success rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                        {% if attendees.filter_by(person_id=attendee.attendee.id).first().is_confirmed %}
                            <i class="bi bi-check mb-1"></i>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #ffcdd2" id="person-{{ attendee.attendee.id }}"
                       class=" px-2 border border-danger rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                        {% if attendees.filter_by(person_id=attendee.attendee.id).first().is_confirmed %}
                            <i class="bi bi-check mb-1"></i>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="d-flex">
        <p class="flex-shrink-0">列席人員：</p>
        <div class="d-flex flex-wrap gap-1 align-content-start">
            {% for attendee in attendees.filter_by(is_member=False) %}
                {% if attendee.is_present %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #c8e6c9" id="person-{{ attendee.attendee.id }}"
                       class="px-2 border border-success rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                        {% if attendees.filter_by(person_id=attendee.attendee.id).first().is_confirmed %}
                            <i class="bi bi-check mb-1"></i>
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ url_for('person_page', person_id=attendee.person_id) }}"
                       style="background-color: #ffcdd2" id="person-{{ attendee.attendee.id }}"
                       class="px-2 border border-danger rounded-pill text-decoration-none text-dark">
                        {{ attendee.attendee.name }}
                        {% if attendees.filter_by(person_id=attendee.attendee.id).first().is_confirmed %}
                            <i class="bi bi-check mb-1"></i>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">主席致詞</h4>
    {{ meeting.chair_speech }}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">報告事項</h4>
    {% for announcement in meeting.announcements %}
        <div class="d-flex">
            <p class="flex-shrink-0">{{ loop.index }}.&nbsp;</p>
            <div class="mb-3">{{ announcement.content }}</div>
        </div>
    {% endfor %}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">討論事項</h4>
    {% for motion in meeting.motions %}
        <h5 class="my-3 fw-bolder">提案 {{ loop.index }}</h5>
        <div class="ps-4">
            <div class="d-flex">
                <p class="flex-shrink-0">案由：</p>
                <div class="mb-3 fw-bold">{{ motion.description }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">狀態：</p>
                <div class="mb-3">
                    {% if motion.status.value == '討論中' %}
                        <span class="badge bg-danger">{{ motion.status.value }}</span>
                    {% elif motion.status.value == '執行中' %}
                        <span class="badge bg-warning">{{ motion.status.value }}</span>
                    {% elif motion.status.value == '結案' %}
                        <span class="badge bg-success">{{ motion.status.value }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">內容：</p>
                <div class="mb-3">{{ motion.content }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">決策：</p>
                <div>{{ motion.resolution }}</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">執行：</p>
                <div class="mb-3">{{ motion.execution }}</div>
            </div>
        </div>
    {% endfor %}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">臨時動議</h4>
    {% for extempore in meeting.extempores %}
        <div class="d-flex">
            <p class="flex-shrink-0">{{ loop.index }}.&nbsp;</p>
            <div class="mb-3">{{ extempore.content }}</div>
        </div>
    {% endfor %}
    {# Attachment #}
    <h4 class="mt-5 mb-3 pb-3 fw-bolder border-bottom border-3">附件</h4>
    <div class="d-flex flex-wrap gap-2">
        {% for attachment in meeting.attachments %}
            <a href="{{ url_for('download_attachment', file_id=attachment.id) }}" target="_blank"
               class="text-dark text-decoration-none" title="{{ attachment.filename.split('-', 1)[1] }}">
                <div class="card bg-light">
                    <div class="card-body d-flex align-items-center">
                        {% set file_type = attachment.filename.split('.')[-1] %}
                        {% if file_type in ['jpg', 'jpeg', 'png'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/photos.png"
                                 width="24" height="24" alt="">
                        {% elif file_type == 'pdf' %}
                            <img src="https://img.icons8.com/fluency/240/000000/adobe-acrobat.png"
                                 width="24" height="24" alt="">
                        {% elif file_type == 'txt' %}
                            <img src="https://img.icons8.com/fluency/240/000000/notepad.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['ppt', 'pptx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-powerpoint-2019.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['xls', 'xlsx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-excel-2019.png"
                                 width="24" height="24" alt="">
                        {% elif file_type in ['doc', 'docx'] %}
                            <img src="https://img.icons8.com/fluency/240/000000/microsoft-word-2019.png"
                                 width="24" height="24" alt="">
                        {% else %}
                            <img src="https://img.icons8.com/fluency/240/000000/file.png"
                                 width="24" height="24" alt="">
                        {% endif %}
                        {% set len_of_filetype = attachment.filename.split('.')[-1]|length %}
                        {% set filename = attachment.filename.split('-', 1)[1][:-len_of_filetype-1] %}
                        {% set filename_display = filename if filename|length <= 20 else filename[:20]+'...' %}
                        <p class="ms-1 card-text">{{ filename_display }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>