<div class="d-none d-md-flex flex-column flex-shrink-0 bg-white border-end" id="sidebar" style="width: 72px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item" {% if title and title == '會議列表' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('home') }}" class="nav-link py-3" title="會議列表">
                <img src="https://img.icons8.com/fluency/48/000000/copybook--v2.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
        <li class="nav-item" {% if title and title == '會議行事曆' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('calendar_page') }}" class="nav-link py-3" title="會議行事曆">
                <img src="https://img.icons8.com/fluency/48/000000/calendar.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
        <li class="nav-item" {% if title and title == '決策追蹤' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('motion_page') }}" class="nav-link py-3" title="決策追蹤">
                <img src="https://img.icons8.com/fluency/48/000000/goal.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
        <li class="nav-item" {% if title and title == '人員列表' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('person_page') }}" class="nav-link py-3" title="人員列表">
                <img src="https://img.icons8.com/fluency/48/000000/conference-foreground-selected.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
        <li class="nav-item" {% if title and title == '統計資料' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('statistics_page') }}" class="nav-link py-3" title="統計資料">
                <img src="https://img.icons8.com/fluency/48/000000/rebalance-portfolio.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
        <li class="nav-item" {% if title and title == '學生意見' %}style="background-color: #e1f5fe"{% endif %}>
            <a href="{{ url_for('feedback_page') }}" class="nav-link py-3" title="學生意見">
                <img src="https://img.icons8.com/fluency/48/000000/feedback-hub.png"
                     width="40" height="40" alt=""/>
            </a>
        </li>
    </ul>
</div>