<div class="d-flex flex-column flex-shrink-0 bg-white border-end" id="sidebar" style="width: 72px;">
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li class="nav-item">
            <a href="{{ url_for('create') }}" class="nav-link py-3" title="新增會議">
                <img src="https://img.icons8.com/fluency/48/000000/add.png" width="40" height="40" alt=""/>
            </a>
        </li>
        <li>
            <a href="{{ url_for('home') }}" class="nav-link py-3" title="會議列表">
                <img src="https://img.icons8.com/fluency/48/000000/copybook--v2.png"
                     width="40"
                     height="40" alt=""/>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3" title="決策追蹤">
                <img src="https://img.icons8.com/fluency/48/000000/todo-list.png" width="40" height="40"
                     alt=""/>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3" title="人員列表">
                <img src="https://img.icons8.com/fluency/48/000000/conference-foreground-selected.png" width="40"
                     height="40"
                     alt=""/>
            </a>
        </li>
    </ul>
</div>