<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% if title %}{{ title }} - {% endif %}會議管理系統</title>
</head>
<body class="vh-100 d-flex flex-column align-item-stretch">
{# NavBar #}
<header class="py-3 border-bottom">
    <div class="container-fluid d-flex gap-3 align-items-center">
        <h4 class="mb-0">會議管理系統</h4>
        <form class="flex-fill d-none d-sm-block px-md-5" style="max-width: 600px">
            <label for="search-bar" class="d-none"></label>
            <input id="search-bar" type="search" class="form-control" placeholder="搜尋">
        </form>
        <div class="d-flex align-items-center ms-auto">
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                   data-bs-toggle="dropdown">
                    <img src="https://img.icons8.com/fluency/48/000000/user-male-circle.png" alt="" width="32"
                         height="32" class="rounded-circle"/>
                </a>
                <ul class="dropdown-menu text-small shadow mt-2">
                    <li><a class="dropdown-item" href="#">登出</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="d-flex flex-fill flex-row overflow-hidden">
    {# Sidebar #}
    <div class="d-flex flex-column flex-shrink-0 bg-white border-end" style="width: 4.5rem;">
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="#" class="nav-link py-3" title="新增會議">
                    <img src="https://img.icons8.com/fluency/48/000000/add.png" width="40" height="40" alt=""/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3" title="會議列表">
                    <img src="https://img.icons8.com/fluency/48/000000/conference-foreground-selected.png" width="40"
                         height="40" alt=""/>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link py-3" title="決策追蹤">
                    <img src="https://img.icons8.com/fluency/48/000000/bookmark-ribbon.png" width="40" height="40"
                         alt=""/>
                </a>
            </li>
        </ul>
    </div>
    {# ListView #}
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 380px;">
        <div class="list-group list-group-flush border-bottom" style="overflow-y: auto">
            <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small>Wed</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Tues</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Tues</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Mon</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Wed</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Tues</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
            <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
                <div class="d-flex w-100 align-items-center justify-content-between">
                    <strong class="mb-1">List group item heading</strong>
                    <small class="text-muted">Mon</small>
                </div>
                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>
            </a>
        </div>
    </div>
    {# MainView #}
    <div class="d-flex flex-column flex-fill">
        {# Control buttons #}
        <div class="d-flex justify-content-end border-bottom">
            <div class="btn-group m-2" role="group">
                <button type="button" class="btn btn-outline-primary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-check-lg me-1" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                    </svg>
                    確認
                </button>
                <button type="button" class="btn btn-outline-primary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-reply me-1" viewBox="0 0 16 16">
                        <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"></path>
                    </svg>
                    請求修改
                </button>
            </div>
            <div class="btn-group m-2" role="group">
                <button type="button" class="btn btn-outline-secondary d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-pencil-square me-1" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                    </svg>
                    編輯
                </button>
                <button type="button" class="btn btn-outline-danger d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-trash me-1" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                        <path fill-rule="evenodd"
                              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                    刪除
                </button>
            </div>
        </div>
        {# Meeting minutes viewer #}
        <div class="d-flex flex-column flex-fill overflow-auto p-3 p-lg-5" style="font-family: 'Open Sans',sans-serif;">
            <h3 class="text-center text-bold mb-5">國立高雄大學 109 學年度 第二學期 第一次 系務會議</h3>
            <p>時 間：民國 110 年 2 月 26 日(星期五) 中午 12:10 整</p>
            <p>地 點：本校工學院 3 樓資工系會議室 313 室</p>
            <p>主 席：</p>
            <p>紀 錄：</p>
            <p>出席人員：</p>
            <p>列席人員：</p>
            <h4 class="mt-5 mb-3 pb-3 text-bold border-bottom border-3">主席致詞</h4>
            <h4 class="mt-5 mb-3 pb-3 text-bold border-bottom border-3">報告事項</h4>
            <div class="d-flex">
                <p class="flex-shrink-0">1. </p>
                <div>
                    工學院團拜時間為 110 年 2 月 26 日(五)上午 11:30-12:00,工學中庭(SDG Corner,電機系辦和
                    資工系辦中間)
                </div>
            </div>
            <h4 class="mt-5 mb-3 pb-3 text-bold border-bottom border-3">討論事項</h4>
            <h5 class="my-3">提案 1</h5>
            <div class="d-flex">
                <p class="flex-shrink-0">案由：</p>
                <div>109 學年度第一學期修讀核心基礎課程獎勵名單，提請討論。</div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">說明：</p>
                <div>
                    每名得獎人頒給獎狀乙紙(期末由任課老師頒發)及獎學金 1 仟元整。
                    該學期操行成績八十分以上,且修讀本系核心基礎課程成績為該班前三名者
                    ,同分參酌順序由任課老師決定之。下列核心基礎課程獎勵名單:
                </div>
            </div>
            <div class="d-flex">
                <p class="flex-shrink-0">決議：</p>
                <div></div>
            </div>
            <h4 class="mt-5 mb-3 pb-3 text-bold border-bottom border-3">臨時動議</h4>
            {# Attachment #}
            <h4 class="mt-5 mb-3 pb-3 text-bold border-bottom border-3">附件</h4>
            <div class="d-flex flex-wrap">
                <a href="#" class="text-dark text-decoration-none me-3 mb-3">
                    <div class="card bg-light">
                        <div class="card-body d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-file-earmark-arrow-down me-2" viewBox="0 0 16 16">
                                <path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z"></path>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"></path>
                            </svg>
                            <p class="card-text">網路通訊概論期末專題報告.docx</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>