{% extends 'base.html' %}

{% block body %}
    {% include 'components/navbar.html' %}
    <main class="d-flex flex-fill flex-row overflow-hidden">
        {% include 'components/sidebar.html' %}
        <div id="meetingFormArea" class="container-fluid flex-fill py-5 overflow-auto">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <h1 class="mt-3 mb-5">新增會議</h1>
                    <form id="newMeetingForm" enctype="multipart/form-data">
                        <h3 class="mb-4">會議資訊</h3>
                        <div class="mb-3">
                            <label for="mTitleInput" class="form-label fs-5">標題</label>
                            <input type="text" class="form-control" id="mTitleInput" name="mTitleInput"
                                   aria-describedby="mTitleInputError">
                            <span class="error invalid-feedback" id="mTitleInputError"></span>
                        </div>
                        <div class="row mb-3 g-3">
                            <div class="col-12 col-md-4">
                                <label for="mTimeInput" class="form-label fs-5">時間</label>
                                <input type="datetime-local" class="form-control" id="mTimeInput" name="mTimeInput"
                                       aria-describedby="mTimeInputError">
                                <span class="error invalid-feedback" id="mTimeInputError"></span>
                            </div>
                            <div class="col-12 col-md-4">
                                <label for="mLocationInput" class="form-label fs-5">地點</label>
                                <input type="text" class="form-control" id="mLocationInput" name="mLocationInput"
                                       aria-describedby="mLocationInputError">
                                <span class="error invalid-feedback" id="mLocationInputError"></span>
                            </div>
                            <div class="col-12 col-md-4 d-flex flex-column">
                                <label for="mTypeInput" class="form-label fs-5">類型</label>
                                <select class="selectpicker" id="mTypeInput" name="mTypeInput"
                                        data-style="bg-white" data-width="100%"
                                        aria-describedby="mTypeInputError">
                                    <option value="">請選擇</option>
                                    <option value="DeptAffairs">系務會議</option>
                                    <option value="FacultyEvaluation">系教評會</option>
                                    <option value="DeptCurriculum">系課程委員會</option>
                                    <option value="StudentAffairs">招生暨學生事務委員會</option>
                                    <option value="DeptDevelopment">系發展協會</option>
                                    <option value="Other">其他</option>
                                </select>
                                <span class="error invalid-feedback" id="mTypeInputError"></span>
                            </div>
                        </div>
                        <hr class="my-5">
                        <div class="mb-4">
                            <div class="d-flex justify-content-between mb-2">
                                <h3 class="mb-0">與會人員</h3>
                                <button id="newAttachmentBtn" type="button"
                                        class="btn btn-sm btn-success text-nowrap"
                                        data-bs-toggle="modal" data-bs-target="#newPersonModal">新增人員
                                </button>
                            </div>
                        </div>
                        <div class="d-flex flex-column mb-3">
                            <label for="mChairInput" class="form-label fs-5">主席</label>
                            <select class="selectpicker person-select" id="mChairInput" name="mChairInput"
                                    data-style="bg-white" data-width="100%" data-live-search="true" data-size="5"
                                    aria-describedby="mChairInputError">
                                <option value="">請選擇</option>
                                {% include 'components/person-option.html' %}
                            </select>
                            <span class="error invalid-feedback" id="mChairInputError"></span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                            <label for="mMinuteTakerInput" class="form-label fs-5">紀錄</label>
                            <select class="selectpicker person-select" id="mMinuteTakerInput" name="mMinuteTakerInput"
                                    data-style="bg-white" data-width="100%" data-live-search="true" data-size="5"
                                    aria-describedby="mMinuteTakerInputError">
                                <option value="">請選擇</option>
                                {% include 'components/person-option.html' %}
                            </select>
                            <span class="error invalid-feedback" id="mMinuteTakerInputError"></span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                            <label for="mAttendeeInput" class="form-label fs-5">與會者</label>
                            <select class="selectpicker person-select" id="mAttendeeInput" name="mAttendeeInput"
                                    data-style="bg-white" data-width="100%" data-size="5" data-live-search="true"
                                    multiple data-selected-text-format="count > 15"
                                    aria-describedby="mAttendeeInputError">
                                {% include 'components/person-option.html' %}
                            </select>
                            <span class="error invalid-feedback" id="mAttendeeInputError"></span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                            <label for="mGuestInput" class="form-label fs-5">列席</label>
                            <select class="selectpicker person-select" id="mGuestInput" name="mGuestInput"
                                    data-style="bg-white" data-width="100%" data-size="5" data-live-search="true"
                                    multiple data-selected-text-format="count > 15" aria-describedby="mGuestInputError">
                                {% include 'components/person-option.html' %}
                            </select>
                            <span class="error invalid-feedback" id="mGuestInputError"></span>
                        </div>
                        <hr class="my-5">
                        <h3 class="mb-4">會議內容</h3>
                        <div class="mb-3">
                            <label for="mChairSpeechInput" class="form-label fs-5">主席致詞</label>
                            <textarea class="form-control" id="mChairSpeechInput"
                                      name="mChairSpeechInput" rows="3"></textarea>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between mb-2">
                                <h5 class="mt-1 mb-0">報告事項</h5>
                                <button id="newAnnouncementBtn" type="button"
                                        class="btn btn-sm btn-success text-nowrap">新增
                                </button>
                            </div>
                            <div id="pAnnouncement" class="mb-3"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between mb-2">
                                <h5 class="mt-1 mb-0">討論事項</h5>
                                <button id="newMotionBtn" type="button"
                                        class="btn btn-sm btn-success text-nowrap">新增
                                </button>
                            </div>
                            <div id="pMotion" class="mb-3"></div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex justify-content-between mb-2">
                                <h5 class="mt-1 mb-0">臨時動議</h5>
                                <button id="newExtemporeBtn" type="button"
                                        class="btn btn-sm btn-success text-nowrap">新增
                                </button>
                            </div>
                            <div id="pExtempore" class="mb-3"></div>
                        </div>
                        <div class="mb-5">
                            <label for="mAttachmentInput" class="form-label fs-5 mb-0">附件</label>
                            <div class="form-text mt-0 mb-1">多重選擇，僅可以上傳圖片與文件</div>
                            <input class="form-control" type="file" id="mAttachmentInput"
                                   aria-describedby="mAttachmentInputError" name="mAttachmentInput[]" multiple>
                            <span class="error invalid-feedback" id="mAttachmentInputError"></span>
                        </div>
                    </form>
                    <div class="d-none mb-3" id="newMeetingFormError">
                        <div class="alert alert-danger d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi flex-shrink-0 me-2" viewBox="0 0 16 16">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                            </svg>
                            <div>有一個或多個欄位不正確</div>
                        </div>
                    </div>
                    <div class="d-grid col-lg-2 mx-auto">
                        <button id="newMeetingBtn" class="btn btn-primary">新增會議</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {# New Person Form Modal #}
    <div class="modal fade" id="newPersonModal" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="newPersonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPersonModalLabel">新增人員</h5>
                    <button type="button" class="btn-close close-new-person" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="personFormArea">
                    <form id="newPersonForm">
                        <div class="mb-3">
                            <label for="pNameInput" class="form-label">姓名</label>
                            <input type="text" class="form-control" id="pNameInput" name="pNameInput"
                                   aria-describedby="pNameInputError">
                            <span class="error invalid-feedback" id="pNameInputError"></span>
                        </div>
                        <div class="mb-3">
                            <h6>性別</h6>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pGenderInput"
                                       id="pGenderInput1" value="Male" checked>
                                <label class="form-check-label" for="pGenderInput1">男</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="pGenderInput"
                                       id="pGenderInput2" value="Female">
                                <label class="form-check-label" for="pGenderInput2">女</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="pPhoneInput" class="form-label">手機</label>
                            <input type="tel" class="form-control" id="pPhoneInput" name="pPhoneInput"
                                   aria-describedby="pPhoneInputError">
                            <span class="error invalid-feedback" id="pPhoneInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pEmailInput" class="form-label">電子郵件</label>
                            <input type="email" class="form-control" id="pEmailInput" name="pEmailInput"
                                   aria-describedby="pEmailInputError">
                            <span class="error invalid-feedback" id="pEmailInputError"></span>
                        </div>
                        <div class="d-flex flex-column mb-3">
                            <label for="pTypeInput" class="form-label">類別</label>
                            <select class="selectpicker" id="pTypeInput" name="pTypeInput"
                                    aria-describedby="pTypeInputError"
                                    data-style="bg-white" data-width="100%">
                                <option value="">請選擇</option>
                                <option value="DeptProf">系上教師</option>
                                <option value="Assistant">系助理</option>
                                <option value="OtherProf">校外教師</option>
                                <option value="Expert">業界專家</option>
                                <option value="Student">學生</option>
                            </select>
                            <span class="error invalid-feedback" id="pTypeInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pCompanyNameInput" class="form-label">公司名稱</label>
                            <input type="text" class="form-control" id="pCompanyNameInput" name="pCompanyNameInput"
                                   aria-describedby="pCompanyNameInputError">
                            <span class="error invalid-feedback" id="pCompanyNameInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pUnivNameInput" class="form-label">學校名稱</label>
                            <input type="text" class="form-control" id="pUnivNameInput" name="pUnivNameInput"
                                   aria-describedby="pUnivNameInputError">
                            <span class="error invalid-feedback" id="pUnivNameInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pDeptNameInput" class="form-label">系所名稱</label>
                            <input type="text" class="form-control" id="pDeptNameInput" name="pDeptNameInput"
                                   aria-describedby="pDeptNameInputError">
                            <span class="error invalid-feedback" id="pDeptNameInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pJobTitleInput" class="form-label">職稱</label>
                            <input type="text" class="form-control" id="pJobTitleInput" name="pJobTitleInput"
                                   aria-describedby="pJobTitleInputError">
                            <span class="error invalid-feedback" id="pJobTitleInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pOfficeTelInput" class="form-label">辦公室電話</label>
                            <input type="tel" class="form-control" id="pOfficeTelInput" name="pOfficeTelInput"
                                   aria-describedby="pOfficeTelInputError">
                            <span class="error invalid-feedback" id="pOfficeTelInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pAddressInput" class="form-label">地址</label>
                            <input type="text" class="form-control" id="pAddressInput" name="pAddressInput"
                                   aria-describedby="pAddressInputError">
                            <span class="error invalid-feedback" id="pAddressInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pBankAccountInput" class="form-label">銀行帳戶</label>
                            <input type="text" class="form-control" id="pBankAccountInput" name="pBankAccountInput"
                                   aria-describedby="pBankAccountInputError">
                            <span class="error invalid-feedback" id="pBankAccountInputError"></span>
                        </div>
                        <div class="mb-3">
                            <label for="pStudentIdInput" class="form-label">學號</label>
                            <input type="text" class="form-control" id="pStudentIdInput" name="pStudentIdInput"
                                   aria-describedby="pStudentIdInputError">
                            <span class="error invalid-feedback" id="pStudentIdInputError"></span>
                        </div>
                        <div class="flex-column mb-3">
                            <label for="pProgramInput" class="form-label">學制</label>
                            <select class="selectpicker" id="pProgramInput" name="pProgramInput"
                                    aria-describedby="pProgramInputError"
                                    data-style="bg-white" data-width="100%">
                                <option value="">請選擇</option>
                                <option value="UnderGraduate">大學部</option>
                                <option value="Graduate">碩士班</option>
                                <option value="PhD">博士班</option>
                            </select>
                            <span class="error invalid-feedback" id="pProgramInputError"></span>
                        </div>
                        <div class="flex-column mb-3">
                            <label for="pStudyYearInput" class="form-label">年級</label>
                            <select class="selectpicker" id="pStudyYearInput" name="pStudyYearInput"
                                    aria-describedby="pStudyYearInputError"
                                    data-style="bg-white" data-width="100%">
                                <option value="">請選擇</option>
                                <option value="FirstYear">一年級</option>
                                <option value="SecondYear">二年級</option>
                                <option value="ThirdYear">三年級</option>
                                <option value="ForthYear">四年級</option>
                                <option value="FifthYear">五年級</option>
                                <option value="SixthYear">六年級</option>
                                <option value="SeventhYear">七年級</option>
                            </select>
                            <span class="error invalid-feedback" id="pStudyYearInputError"></span>
                        </div>
                        <div class="d-none mt-4" id="newPersonFormError">
                            <div class="alert alert-danger d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     class="bi flex-shrink-0 me-2" viewBox="0 0 16 16">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                </svg>
                                <div>有一個或多個欄位不正確</div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger close-new-person" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-success" id="newPersonBtn">新增</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block style %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-bootstrap-select.css') }}">
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-zh_TW.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/localization/messages_zh_TW.min.js"></script>
    {# $SCRIPT_ROOT is for ajax in xxx-form-control.js #}
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root | tojson | safe }};</script>
    <script defer src="{{ url_for('static', filename='js/new-person-form-control.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/new-meeting-form-control.js') }}"></script>
{% endblock %}