{% extends 'base.html' %}

{% block body %}
    {% include 'components/navbar.html' %}
    <main class="d-flex flex-fill flex-row overflow-hidden">
        {% include 'components/sidebar.html' %}
        {# ListView #}
        <style>
            @media only screen and (min-width: 992px) {
                .list-view {
                    min-width: 380px;
                    max-width: 380px;
                }
            }
        </style>
        <div class="flex-column align-items-stretch overflow-auto flex-grow-1 flex-lg-grow-0 bg-white border-end list-view">
            <div class="list-group list-group-flush border-bottom">
                {% for motion in motions %}
                    <a href="javascript:void(0)" id="motionTile-{{ motion.id }}" title="{{ motion.description }}"
                       class="list-group-item list-group-item-action py-3 lh-tight motionTile">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1 text-nowrap text-truncate">{{ motion.description }}</strong>
                        </div>
                        <div class="mb-1 small text-nowrap text-truncate">{{ motion.meeting.title }}</div>
                        <div class="mb-0 small">{{ motion.status.value }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {# MainView #}
        <div class="d-none d-lg-flex flex-column flex-fill" id="motionViewArea">
            <div class="d-flex flex-fill flex-column align-items-center justify-content-center bg-light">
                <img src="https://img.icons8.com/fluency/100/000000/todo-list.png" alt=""/><br>
                <strong>選取要檢視的討論事項</strong>
                <p>未選取任何項目</p>
            </div>
        </div>
    </main>
{% endblock %}