{% extends 'base.html' %}

{% block body %}
    {% include 'components/navbar.html' %}
    <main class="d-flex flex-fill flex-row overflow-hidden">
        {% include 'components/sidebar.html' %}
        <div class="d-flex flex-column flex-fill">
            <div class="d-flex justify-content-end border-bottom">
                <a href="{{ url_for('yearlist_page') }}" class="btn btn-outline-primary d-flex align-items-center m-2">
                    <i class="bi bi-list-nested me-1"></i>
                    <text>歷年會議總表</text>
                </a>
            </div>
            <div class="flex-fill px-5 py-4 overflow-auto">
                <div class="row w-100 m-0">
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card text-bg-primary h-100 py-2">
                            <div class="card-body py-2">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="mb-1">
                                            本週會議
                                        </div>
                                        <div class="h5 mb-0">{{ data['week_meeting_count'] }} 場</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-calendar-week fs-2"></i>
                                    </div>
                                </div>
                                <a href="{{ url_for('meeting_page') }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100 py-2">
                            <div class="card-body py-2">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="mb-1">
                                            本週討論事項
                                        </div>
                                        <div class="h5 mb-0">{{ data['week_motion_count'] }} 個</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-clipboard2-check-fill text-muted fs-2"></i>
                                    </div>
                                </div>
                                <a href="{{ url_for('motion_page') }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100 py-2">
                            <div class="card-body py-2">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="mb-1">
                                            已新增人員
                                        </div>
                                        <div class="h5 mb-0">{{ data['person_count'] }} 個</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-people-fill text-muted fs-2"></i>
                                    </div>
                                </div>
                                <a href="{{ url_for('person_page') }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card h-100 py-2">
                            <div class="card-body py-2">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="mb-1">
                                            學生匿名意見
                                        </div>
                                        <div class="h5 mb-0">{{ data['feedback_count'] }} 個</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-chat-dots-fill text-muted fs-2"></i>
                                    </div>
                                </div>
                                <a href="{{ url_for('feedback_page') }}" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row w-100 m-0">
                    <div class="col-lg-8 mb-4">
                        <div class="card">
                            <div class="card-header">學期會議數量統計</div>
                            <div class="card-body">
                                <canvas id="chart1" class="w-100"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <div class="card">
                            <div class="card-header">學期決策完成度</div>
                            <div class="card-body">
                                <canvas id="chart2" class="w-100"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        const ctx1 = document.getElementById('chart1').getContext('2d');
        const ctx2 = document.getElementById('chart2').getContext('2d');
        new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [
                    {% for item in data['months_meeting_count'] %}
                        '{{ item[0] }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: '會議數量',
                    data: [
                        {% for item in data['months_meeting_count'] %}
                            {{ item[1] }},
                        {% endfor %}
                    ],
                    borderColor: '#0D6EFD',
                    backgroundColor: '#0D6EFD'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });
        new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: [
                    {% for item in data['semester_motion_status_percentage'] %}
                        '{{ item[0] }}',
                    {% endfor %}
                ],
                datasets: [{
                    data: [
                        {% for item in data['semester_motion_status_percentage'] %}
                            {{ item[1] }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        '#DC3545',
                        '#FFC107',
                        '#198754'
                    ],
                }]
            }
        });
    </script>
{% endblock %}